.coin-table {
  width: 100%;
  text-align: center;
}

.market {
  margin-bottom: 20px;
}

.coin-title {
  width: 100%;
  margin: 0;
  margin-bottom: 3px;
  padding: 10px;
  background-color: white;
}

.poloniex-button-group {
  width: 100%;
  margin: 0;
  margin-top: 3px;
  margin-bottom: 3px;
  display: flex;
  flex-wrap: wrap;
}

.poloniex-button-group .poloniex-button {
  padding: 10px;
  cursor: pointer;
  margin: 3px;
  background-color: white;
  flex: 1;
  padding: 20px;
}

.poloniex-button-group .poloniex-button:hover {
  opacity: 0.5;
}

.polo-tab {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
